@import url("https://fonts.googleapis.com/css?family=Shanti");
@import url("https://fonts.googleapis.com/css?family=Khmer");

.home-background {
	background-image: url("../images/site_background.jpg");
	  /* Full height */
	  height: 100%;

	  /* Center and scale the image nicely */
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;;
}
@media screen {
	
}
body {
	background-color: white;
	font-family: "Shanti";
	color: #36313d;
}

.bottom {
	background: green;
	align-self: flex-end;
	width: 100px;
	height: 50px;
  }

.button {
	background-color: transparent;
	color: #ffaf3a;
	border-color: #ffaf3a;
	border-radius: 0%;
	border-width: 1.5px;
	font-weight: bold;
	height: min-content;
	width: fit-content;
}

.button:hover {
	background-color: #ffaf3a;
	color: white;
}

.content-title {
	font-size: 3em;
	font-weight: bold;
}

@media (max-width: 576px) {
	.content-title {
	  font-size: 2em;
	}
  }

.paragraph1 {
	font-size: 3em;
}

.paragraph2 {
	font-size: 2.3em;
}

.paragraph3 {
	font-size: 1.6em;
}

@media (max-width: 576px) {
	.paragraph3 {
	  font-size: 1.2em;
	  text-justify: inter-word;
	}
  }

.hello-bold {
	font-size: 5em;
	font-weight: bold;
	color: #ffaf3a;
}

@media (max-width: 576px) {
	.hello-bold {
	  font-size: 3em;
	}
  }

.break-line {
	background-color: #ffaf3a;
	width: 200px;
	margin-left: 0px;
}

.profile-image {
	border-radius: 50%;
	border: 2px solid #ffaf3a;
	width: 250px;
	height: 250px;
}

.timeline-custom {
	max-width: 100% !important;
	padding: 0px !important;
}

.timeline--wrapper {
	padding: 0px !important;
}

.entry .title::before {
	right: -5px !important;
}

.post  {
	text-justify: newspaper;
	width: 70%;
}

.post-content {
	font-size: 1.3em;
	width: 70%;
}

@media (max-width: 576px) {
	.post {
		width: 100%;
	}
	.post-content {
	  font-size: 1.1em;
	  width: 100%;
	}
  }

.not-found {
	display: flex;
	justify-content: center;
}